.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

local.properties
*.iml
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/libraries
.idea/**/shelf
.idea/**/httpRequests
.idea/caches/
.idea/modules.xml

captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
*.aar
*.dex

app/release/
app/debug/
**/release/
**/debug/
output-metadata.json

*.jks
*.keystore
*.signing.properties

*.log

.DS_Store
Thumbs.db


*.kotlin_module

*.hprof

schemas/

out/
*.ipr
*.iws

crashlytics-build.properties
fabric.properties

obj/
*.so

*.preview
compose-reports/

.vscode/
*.swp
*.swo

/*.tmp
*.bak
*.orig